<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "User with no bookings", users_with_no_bookings_path %></li>
      </ul>
      <%= form_tag users_with_bookings_path, method: :get, class: "navbar-form navbar-right" do%>
      <div class="form-group">
        <%= number_field_tag :number, '1', class: 'form-control'%>
      </div>
      <%= submit_tag "Find user with bookings", class: "btn btn-default" %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
